<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hunger Solution</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

</head>
<body>
	<div class="container-fluid">
		<div th:include="header2.html:: header1"></div>
	</div>
	<div class="container">
		<div th:include="header.html:: header"></div>
	</div>
	<div class="container">
		<div class="row" style="margin-top: 2%">
			<div class="col-md-4">
				<div th:include="side_menu.html:: sidebar"></div>
			</div>

			<div class="col-md-8" style="margin-left: -90px; margin-top: -15px">
				<h2>Change Password</h2>
									<div th:if="${param.success}">
						<div class="alert alert-info">Password Update Successfully!!</div>
					</div>
									<div th:if="${param.failure}">
						<div class="alert alert-danger">Invalid Old Password</div>
					</div>
				
				<form th:action="@{/update_password/{id}(id=${custid})}" method="post" id="myform">
				<div class="card" style="width: 400px;">
					<div class="form-group row">
						<div class="col-sm-6">
							<span class="form-label">Old Password <sup
								style="color: red; font-size: 15px">*</sup>
							</span> <input type="password" class="form-control"
								placeholder="Old Passsword" style="width: 250px; margin-top: 5%"
								name="old_password" required>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<span class="form-label">New Password <sup
								style="color: red; font-size: 15px">*</sup>
							</span> <input type="password" class="form-control"
								placeholder="New Passsword" style="width: 250px; margin-top: 5%"
								name="new_password" required>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<span class="form-label">Confirm Password <sup
								style="color: red; font-size: 15px">*</sup>
							</span> <input type="password" class="form-control"
								placeholder="Confirm Passsword"
								style="width: 250px; margin-top: 5%" name="confirm_password"
								required>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-3">
							<a>Cancel</a>
						</div>
						<div class="col-sm-6">
						<button type="submit" id="submitbutton"  style="display: none" class="btn btn-success">Update</button>
						<a class="btn btn-success" onclick="checkpassword();">Update</a>		
						</div>
					</div>

				</div>
			</form>
			</div>

		</div>
	</div>

<script >
function checkpassword(){
	
	const newpas=document.getElementsByName("new_password")[0].value;
	const confirmpas=document.getElementsByName("confirm_password")[0].value;
	if(newpas==confirmpas){
		document.getElementById("submitbutton").click();
	}else{
		alert("New & Confirm Password Doesn't Match!!!");
	}
}
    </script>
</body>
</html>